POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=demo
MSSQL_SA_PASSWORD=Abcd1234
ODS_WRITE_ENABLED=true
ODS_WRITE_INTERVAL_SECONDS=2
ODS_WRITE_BATCH_SIZE=1
ODS_WRITE_MAX_ROWS=0
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
PAIMON_BUCKET=demo
